<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:sm/category-banner {"height":"300px","overlayOpacity":0.4} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"40px","bottom":"60px"}}}} -->
<main class="wp-block-group">
    <!-- wp:sm/product-breadcrumb /-->

    <!-- wp:sm/product-listing {"columns":3,"filterWidth":"18%","gridWidth":"82%"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
