<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"sm-checkout-main-wrapper","style":{"spacing":{"padding":{"top":"60px","bottom":"80px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group sm-checkout-main-wrapper" style="padding-top:60px;padding-bottom:80px">
    <!-- wp:shortcode -->
    [woocommerce_checkout]
    <!-- /wp:shortcode -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
