<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"sm-account-main-wrapper alignfull","style":{"spacing":{"padding":{"top":"0px","bottom":"88px"},"margin":{"top":"0px"}}}} -->
<main class="wp-block-group sm-account-main-wrapper alignfull" style="margin-top:0;padding-top:0;padding-bottom:88px">
    <!-- wp:shortcode -->
    [woocommerce_my_account]
    <!-- /wp:shortcode -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
